
# vscode

.vscode/*
*.coverage
*.coveragexml

# build
build/
cmake-build-debug/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

# jetbrains
.idea/

# MacOS
.DS_Store
*/.DS_Store

# .o file
*.o
tohka_outputs/*
toh
Tohka.cbp

# test
Testing/

# pdf books
pdfs/
